.movierow{
    margin-bottom: 30px;
}
.movierow-title{
    margin: 0 0 0 30px;
}
.movierow-listarea{
    overflow-x: hidden;
    padding-left: 30px;
}
.movierow-list{
    width: 9999999999px;
}
.movierow-item {
    display: inline-block;
    width:  150px; 
} 

.movierow-item img{
    width: 100%;
    height: 12rem;
    transform: scale(0.9);
    transition: all ease 0.2s;
}
.movierow-item img:hover{
    transform: scale(1.0);
    cursor: pointer;
}