<body>
    <div class="page">
        <div class="header-area">
            <div class="app-title">
                NETFLIX 
            </div>
            <a class= app-user href="">Arllan</a>
        </div>
        <app-featured-movie [value]="featuredMovieInfo"></app-featured-movie>
        <div style="  margin-top: -150px;" class="list">
            <section  *ngFor="let movieRow of movieRowList">
                <app-movie-row [value]="movieRow"></app-movie-row>
            </section>
        </div>
    </div>    
</body>
